.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#canvas {
    border: 1px solid black;
}

#info {
    color: blue;
}

#error {
    color: red;
}
